.gitignore
.editorconfig
*.json
.commitlintrc.json
.release-please-manifest.json
pnpm-lock.yaml
bun.lock
package-lock.json
yarn-lock.json

node_modules/

# build or bundles
build/
.husky/

# Ignore built js files
dist/
